name: Build

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4
        with:
          node-version-file: package.json
          cache: 'npm'

      # npm > 11.6.0 has a bug with missing optional dependencies
      - run: corepack enable

      - run: npm ci

      - run: npm run build

      - run: npm run check-types
