name: PR Title

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

permissions:
  contents: read

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: package.json
          cache: 'npm'

      # npm > 11.6.0 has a bug with missing optional dependencies
      - run: npm install -g npm@11.6.0

      - run: npm ci

      - name: Validate PR title
        run: echo "${{ github.event.pull_request.title }}" | npx commitlint
