name: Test

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4
        with:
          node-version-file: package.json
          cache: 'npm'

      # npm > 11.6.0 has a bug with missing optional dependencies
      - run: npm install -g npm@11.6.0

      - run: npm ci

      - run: npm run build

      - run: npx playwright install --with-deps chromium

      - run: npm run test
